# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Ignore any .fits/.npy/.par data file
*.fits
*.npy
*.par
data/IC5063_x3nl030/POLARIZATION_COMPARISON/POLARIZATION_COMPARISON-20220329T133819Z-001.zip
src/IC5063_x_y_F_P_PA.txt
src/IC5063_x_y_F_Q_U_P_PA.txt
src/NGC1068_x_y_F_Q_U_P_PA.txt
