# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Ignore any .fits/.npy/.par data file
*.fits
*.npy
*.par
*.zip
*.tar
*.tar.xz

# Remove local data and plots folders
data/
plots/